*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties
.gitignore
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
gradle/
gradlew
gradlew.bat
injamsdk-release/injamsdk-release.aar
settings.gradle
